body {
    background-color: #f73;
}

.subtitle {
    font-family: monospace;
    color: #777;
}

header{
	background:#03A9F4;#35434a;
	border-bottom:#448AFF 3px solid;
	height:120px;
	width:100%;
	padding-top:30px;

}