.leg {
    background-color: #f73;
    margin: 1px;
    color: #000;
    font: monospace;
}

.subtitle {
    font-family: monospace;
    color: #000;
    font: monospace;
}

header{
	background:#03A9F4;#35434a;
	border-bottom:#448AFF 3px solid;
	height:120px;
	width:100%;
    padding-top:30px;
    margin: auto;
}

.heading {

}

.top {
    
}